<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Book</h1>
    <form action="/api/book" method="POST">
        <label for="title">Title</label>
        <input name="title" placeholder="title"type="text" id="title">
        <label for="release_year">Release year</label>
        <input name="release_year"type="number" id="release_year">
        <label for="author">Author id</label>
        <input name="author_id" placeholder="author_id"type="number" id="author_id">

        <button>submit</button>
    </form>
    
</body>
</html>